/* Sticky nav bar reference: https://stanhub.com/scroll-to-top-then-fixed-navigation-effect-with-jquery-and-css-free-download/ */

* {margin: 0; padding: 0;}

a {text-decoration: none;}

html {
    scroll-behavior: smooth;
}

body {
	color: #282525;
	font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
	font-size: 18px;
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
}

/* Navigation Settings */
nav {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	background: white;


    text-align: center;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
    text-transform: uppercase;
    color:rgb(57, 103, 211);
    font-weight: bold;
    padding: 12px 12px;

}
nav li a:hover{
    padding: 10px 10px;
    border: 2px solid rgb(57, 103, 211);
}

@media only screen and (max-width: 439px) {
    nav li a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 581px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 12px;
	}
    .description-1 {
      padding-top:20vh;
    }
}

.container
{
  display: flex;
  transition: 1s;
  padding-top: 15%;
  padding-left: 30%;
  padding-right: 15%;
  color:black;
}


hr {
  width:75%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
  height: 7px;
  border:none;
  background-color: #333;
}

.TextBox {
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:10px;
}



.s2-container
{
    display: flex;
    transition: 1s;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    color:black;
}

.button:hover{
    background:  rgb(57, 103, 211);
    border-color:rgb(57, 103, 211);
    color: white;
}
.button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 0px #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #5e5e5e;

    color: white;
    font-weight: bold;
    border-radius: 5px;
}
